@using MoneyApp.Dto
@using MoneyApp.Models
@model dynamic
@{
    Account account = @Model.account;
    int position = @Model.position;
    UserDto userDto = @Model.user;
}
<div class="loginBox">

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h2>@account.AccountName</h2>
            @if (account.AccountBalance < 0)
            {
                <h3>Balance: @Math.Abs(account.AccountBalance) dr</h3>
            }
            @if (account.AccountBalance >= 0)
            {
                <h3>@Math.Abs(account.AccountBalance) cr</h3>
            }
        </div>
    </div>

    <div class="row" style="overflow: auto">
        <div class="col-xs-10 col-xs-offset-1">
            <table class="table table-borderless table-hover">
                <tbody>
                    @foreach (var moneySpentItem in account.MoneySpentItems.Skip(position).Take(10))
                    {
                        if (@moneySpentItem.ItemCost > 0)
                        {
                            <tr class>
                                <td>@moneySpentItem.Datetime</td>
                                <td>@moneySpentItem.ItemName</td>
                                <td class="tdRed">@Math.Abs(moneySpentItem.ItemCost) DR</td>
                                <td><a onclick="ConfirmDelete('Delete Money Item?')" class="glyphicon glyphicon-remove" asp-action="DeleteMoneySpentItem" asp-route-accountGuid="@account.AccountGuid" asp-route-moneyItemGuid="@moneySpentItem.MoneySpentItemGuid" @*asp-route-userGuid="@userDto.UserGuid"*@></a></td>
                            </tr>
                        }
                        else
                        {
                            <tr class>
                                <td>@moneySpentItem.Datetime</td>
                                <td>@moneySpentItem.ItemName</td>
                                <td class="tdGreen">@Math.Abs(moneySpentItem.ItemCost) CR</td>
                                <td><a onclick="ConfirmDelete('Delete Money Item?')" class="glyphicon glyphicon-remove" asp-action="DeleteMoneySpentItem" asp-route-accountGuid="@account.AccountGuid" asp-route-moneyItemGuid="@moneySpentItem.MoneySpentItemGuid" @*asp-route-userGuid="@userDto.UserGuid"*@></a></td>
                            </tr>
                        }
                    }
                <tr><td><a asp-action="UserAccountIndex" @*asp-route-userGuid="@userDto.UserGuid"*@ asp-route-accountGuid="@account.AccountGuid">More</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-4 insertMoneyItem">
            <h4>Expense</h4>
            <form asp-action="CreateMoneySpentItem" , asp-route-accountGuid="@account.AccountGuid" asp-route-itemName=itemName asp-route-itemCost=itemCost asp-route-dateTime=dateTime @*asp-route-userGuid="@userDto.UserGuid"*@>
                <input class="input" type="text" placeholder="FoodShop" name="itemName" /><br /><br />
                <input class="input" type="text" placeholder="10.50" name="itemCost" /><br /><br />
                <input class="input" type="datetime-local" name="dateTime">
                <button class="btn btn-danger pull-right" onclick="ValidMoneyItem(this)">Add</button>
            </form>
        </div>

        <div class="col-xs-offset-2 col-xs-4 insertMoneyItem">
            <div class="pull-right">
                <h4>Deposit</h4>
                <form name="deposit" method="post" asp-action="CreateMoneySpentItem" asp-route-accountGuid="@account.AccountGuid" asp-route-itemName=itemName asp-route-itemCost=itemCost asp-route-dateTime=dateTime @*asp-route-userGuid="@userDto.UserGuid"*@>
                    <input class="input" type="text" placeholder="BirthdayMoney" name="itemName" /><br /><br />
                    <input id="amount" class="input" type="text" placeholder="20.50" name="itemCost" /><br /><br />
                    <input class="input" type="datetime-local" name="dateTime">
                    <button class="btn btn-success pull-right" onclick="depositAmount(this)">Add</button>
                </form>
            </div>
        </div>
    </div>

    <br />
</div>

<script>
    function depositAmount(self) {
        ValidMoneyItem(self);
        var amountObj = document.getElementById("amount");
        if (document.getElementById("amount").value === 0) {
            document.getElementById("amount").placeholder = "invalid amount";
            event.preventDefault();

            return false;
        }
        document.getElementById("amount").value *= -1;
    }

    function ConfirmDelete(message) {
        if (confirm(message)) {
            return;
        }
        event.preventDefault();
    }

    function ValidMoneyItem(self) {
        var inputName = self.parentElement.getElementsByTagName("input")[0];
        var inputAmount = self.parentElement.getElementsByTagName("input")[1];
        var regexName = /^[A-Z]{1}[A-Za-z]{3,20}$/;
        var regexAmount = /^[0-9]{1,4}(\.[0-9]{1,2})?$/;
        var IsValidName = regexName.test(inputName.value);
        var IsValidAmount = regexAmount.test(inputAmount.value);
        if (IsValidName && IsValidAmount) {
            return;
        }
        if (IsValidName === false) {
            inputName.value = null;
            inputName.placeholder = "Invalid money item";
        }
        if (IsValidAmount === false) {
            inputAmount.value = null;
            inputAmount.placeholder = "Invalid money amount";
        }
        event.preventDefault();
    }

</script>