@model MoneyApp.Models.Account

<div class="loginBox">

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h2>@Model.AccountName</h2>
            @if (Model.AccountBalance < 0)
            {
                <h3>Balance: @Math.Abs(Model.AccountBalance) dr</h3>
            }
            @if (Model.AccountBalance >= 0)
            {
                <h3>@Math.Abs(Model.AccountBalance) cr</h3>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <table class="table table-borderless table-hover">
                <tbody>
                    @foreach (var moneySpentItem in Model.MoneySpentItems)
                    {
                        if (@moneySpentItem.ItemCost > 0)
                        {
                            <tr class>
                                <td>@moneySpentItem.Datetime</td>
                                <td>@moneySpentItem.ItemName</td>
                                <td class="tdRed">@Math.Abs(moneySpentItem.ItemCost) DR</td>
                                <td><a onclick="ConfirmDelete('Delete Money Item?')" class="glyphicon glyphicon-remove" asp-action="DeleteMoneySpentItem" asp-route-accountGuid="@Model.AccountGuid" asp-route-moneyItemGuid="@moneySpentItem.MoneySpentItemGuid"></a></td>
                            </tr>
                        }
                        else
                        {
                            <tr class>
                                <td>@moneySpentItem.Datetime</td>
                                <td>@moneySpentItem.ItemName</td>
                                <td class="tdGreen">@Math.Abs(moneySpentItem.ItemCost) CR</td>
                                <td><a onclick="ConfirmDelete('Delete Money Item?')" class="glyphicon glyphicon-remove" asp-action="DeleteMoneySpentItem" asp-route-accountGuid="@Model.AccountGuid" asp-route-moneyItemGuid="@moneySpentItem.MoneySpentItemGuid"></a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-4 insertMoneyItem">
            <h4>Expense</h4>
            <form asp-action="CreateMoneySpentItem" , asp-route-accountGuid="@Model.AccountGuid" asp-route-itemName=itemName asp-route-itemCost=itemCost>
                <input class="input" type="text" placeholder="Food Shop" name="itemName" /><br /><br />
                <input class="input" type="text" placeholder="10.50" name="itemCost" /><br /><br />
                <button class="btn btn-danger">Add</button>
            </form>
        </div>

        <div class="col-xs-offset-2 col-xs-4 insertMoneyItem">
            <div class="pull-right">
                <h4>Deposit</h4>
                <form name="deposit" method="post" asp-action="CreateMoneySpentItem" asp-route-accountGuid="@Model.AccountGuid" asp-route-itemName=itemName asp-route-itemCost=itemCost>
                    <input class="input" type="text" placeholder="Birthday Money" name="itemName" /><br /><br />
                    <input id="amount" class="input" type="text" placeholder="20.50" name="itemCost" /><br /><br />
                    <button class="btn btn-success" onclick="depositAmount()">Add</button>
                </form>
            </div>
        </div>
    </div>

    <br />
</div>

<script>
    function depositAmount() {
        var amountObj = document.getElementById("amount");
        if (document.getElementById("amount").value === 0) {
            document.getElementById("amount").placeholder = "invalid amount";
            event.preventDefault();

            return false;
        }
        document.getElementById("amount").value *= -1;
    }

    function ConfirmDelete(message) {
        if (confirm(message)) {
            return;
        }
        event.preventDefault();
    }
</script>

@*$(document).ready(function(){
    var i=1;
    $("#add_row").click(function(){
    $('#addr'+i).html("<td>"+ (i+1) +"</td><td><input name='name"+i+"' type='text' placeholder='Name' class='form-control input-md'  /> </td><td><input  name='mail"+i+"' type='text' placeholder='Mail'  class='form-control input-md'></td><td><input  name='mobile"+i+"' type='text' placeholder='Mobile'  class='form-control input-md'></td>");

    $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
    i++;
    });
    $("#delete_row").click(function(){
    if(i>1){
    $("#addr"+(i-1)).html('');
    i--;
    }
    });

    });*@