@using MoneyApp.Dto
@model MoneyApp.Dto.UserDto

@{
    ViewBag.Title = "Accounts Overview";
    UserDto user = @Model;
}

<div class="loginBox">

    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <h3 class="text-center">Welcome: @Model.Username</h3>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 ">
            <table class="table table-hover table-borderless table">
                <tbody>
                    @foreach (var account in Model.Accounts)
                    {
                        <tr>
                            <td onclick="LoadAccountPage(this)">@account.AccountName</td>

                            @if (account.AccountBalance < 0)
                            {
                                <td onclick="LoadAccountPage(this)" class="tdRed">@Math.Abs(account.AccountBalance) dr</td>
                            }
                            @if (account.AccountBalance >= 0)
                            {
                                <td onclick="LoadAccountPage(this)" class="tdGreen">@Math.Abs(account.AccountBalance) cr</td>
                            }
                            <td onclick="LoadAccountPage(this)" class="col-xs-2">
                                <a id="go" asp-action="AccountPage" asp-route-accountGuid="@account.AccountGuid" asp-route-userDto="@Model.Username"></a>
                            </td>
                            <td>
                                <a onclick="ConfirmDelete('Delete Money Account?')" class="glyphicon glyphicon-remove"
                                   asp-action="DeleteMoneyAccountFromUser" asp-route-accountGuid="@account.AccountGuid" asp-route-username="@Model.Username"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <form asp-action="CreateMoneyAccountForUser" asp-route-username="@Model.Username">

                <br />
                <div class="col-xs-13">
                    <input class="input" type="text" placeholder=" account name" name="accountName" />
                </div>

                <br />
                <div class="pull-right">
                    <button class="btn btn-success">Create Account</button>
                </div>
            </form>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-offset-1 col-xs-10" style="text-align: right">
            <a onclick="ConfirmDelete('Delete Your Account?')"  asp-action="DeleteUser" asp-route-username="@Model.Username">Delete User Account</a>
        </div>
    </div>
    <br />

</div>

<script>
    function LoadAccountPage(row) {
        row.parentElement.getElementsByTagName("a")[0].click();
    }

    function ConfirmDelete(message) {
        if (confirm(message)) {
            return;
        }
        event.preventDefault();
    }

</script>